<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="AccessKeyID" value=""/>
		<add key="AccessKeySecret" value=""/>
		<add key="HostName" value=""/>
		<add key="Domain" value=""/>
		<add key="IPApis" value="https://ipv4.icanhazip.com/,http://v4.ipv6-test.com/api/myip.php,https://ip.hiyun.me/,http://ip.zxinc.org/getip,https://cdid.c-ctrip.com/model-poc2/h"/>		
	</appSettings>
</configuration>